* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.demo,.test,.calendar,.test1,.test2,.test3,.test4 {
   width: 600px;
   height: 400px;
   border: 1px solid #eee;
   padding: 20px;
   margin: 0 auto;
 }

.calendar {
  width: 100%;
}
